real-run
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

bin/
*.db
*.nsight*
*.mkv
*.nvprof
*.nvvp
server
client
t58*
t*
!t*.*
*.dat
node_modules/

client.js
client.wasm
client.worker.js

gentables

allcpu
spiral
spiral-*

*.json
!exp_lut.json
!exp_lut_highrate.json
!fdim_lut_highrate.json
.idea/
documents/
errs-*
errs*.csv
*.pkl
!all_params.pkl
!all_params_streaming.pkl
!all_params_highrate.pkl
!all_params_highrate_streaming.pkl
err*.txt
*.pyc
*checkpoint.ipynb
*.png

# CMake
build/

.ipynb_checkpoints
__pycache__
.vscode